<div class="home-page-for-guests">
    <div class="header">
        <h1>
            Научи нова рецепта за вкусна закуска, обяд или вечеря!
        </h1>
        <p>
            <span>ВашитеРецепти.Bg</span> - сайт споделяне на изпорбвани рецепти
        </p>
        <div class="buttons">
            <a routerLink="/user/login" class="button">Вход</a>
            <a routerLink="/user/register" class="button">Регистрация</a>
        </div>
    </div>
    <div class="recipes-for-guest-page">
        <p class="caption-for-guests">Топ 5 рецепти за деня:</p>
        <app-recipe-item *ngFor="let recipe of recipeList" [recipe]="recipe" ></app-recipe-item>
    </div>
    <div class="options-for-login-or-register">
        <p>За повече възможности в търсенето на рецепти <a routerLink="/user/login">влез</a> в профила си или ако все още нямаш такъв се <a routerLink="/user/login">регистрай</a>!</p>
    </div>
</div>
