<div class="home-page-for-guests">
    <div class="header">
        <h1>
            Научи нова рецепта за вкусна закуска, обяд или вечеря!
        </h1>
        <p>
            <span>ВашитеРецепти.Bg</span> - сайт споделяне на изпорбвани рецепти
        </p>
        <div class="buttons">
            <a href="#" class="button">Вход</a>
            <a href="#" class="button">Регистрация</a>
        </div>
    </div>
    <div class="recipes-for-guest-page">
        <p class="caption-for-guests">Топ 5 рецепти за деня:</p>
        <div class="recipe-info">
            <img src="https://images.immediate.co.uk/production/volatile/sites/30/2020/08/chorizo-mozarella-gnocchi-bake-cropped-9ab73a3.jpg?quality=90&resize=700%2C636" alt="Снимка на частта">
            <p>Ангренажен ремък</p>
            <p>Втора употреба</p>
            <p>Добро състояние</p>
            <p>Цена: 50 лв.</p>
        </div>
        <div class="recipe-info">
            <img src="https://static.oprah.com/2017/03/201703-orig-healthy-plate-949x534.jpg" alt="Снимка на частта">
            <p>Ангренажен ремък</p>
            <p>Втора употреба</p>
            <p>Добро състояние</p>
            <p>Цена: 50 лв.</p>
        </div>
        <div class="recipe-info">
            <img src="https://www.childrens.com/wps/wcm/connect/childrenspublic/e1e7f304-f08d-4464-88de-548d1435362e/shutterrecipe_369960455_800x480.jpg?MOD=AJPERES&CVID=" alt="Снимка на частта">
            <p>Ангренажен ремък</p>
            <p>Втора употреба</p>
            <p>Добро състояние</p>
            <p>Цена: 50 лв.</p>
        </div>
        <div class="recipe-info">
            <img src="https://media-cdn.tripadvisor.com/media/photo-s/08/9d/55/66/1900-park-fare.jpg" alt="Снимка на частта">
            <p>Ангренажен ремък</p>
            <p>Втора употреба</p>
            <p>Добро състояние</p>
            <p>Цена: 50 лв.</p>
        </div>
        <div class="recipe-info">
            <img src="https://images.all-free-download.com/images/graphicthumb/fries_and_steak_on_plate_193268.jpg" alt="Снимка на частта">
            <p>Ангренажен ремък</p>
            <p>Втора употреба</p>
            <p>Добро състояние</p>
            <p>Цена: 50 лв.</p>
        </div>
    </div>
    <div class="options-for-login-or-register">
        <p>За повече възможности в търсенето на рецепти <a>влез</a> в профила или ако все още нямаш такъв се <a>регистрай</a>!</p>
    </div>
</div>
