.search .header p {
    padding-bottom: 80px;
    margin-bottom: 20px;
}

.search h3 {
    text-align: center;
}

.search .no-results {
    padding-top: 80px;
    padding-bottom: 130px;
}

.result-container {
    text-align: center;
}