.recipe-info {
    display: inline-block;
    background: #97A92B;
    padding: 20px;
    padding-right: 12px;
    padding-top: 9px;
    padding-left: 9px;
    color: black;
    border: solid;
    border-color: #6B8C25;
    border-width: 2px;
    width: 200px;
    height: auto;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 40px;
}

.recipe-info p {
    text-align: center;
    width: 200;
    margin-bottom: 5px;
    margin-top: 5px;
    font-size: 17px;
}

.recipe-info p span{
    font-weight: 600;
}

.recipe-info:hover {
    color: black;
    background: #DFDF95;
    border-color: gray;
    cursor: pointer;
}

.recipe-info img {
    width: 200px;
    height: 150px;
    border: solid;
    border-width: 2px;
    border-color: darkgreen;
    margin-bottom: 8px;
}

.example-card {
    font-size: 18px;
    font-weight: 300;
    display: inline-block;
    padding-right: 0px;
    padding-top: 9px;
    padding-left: 0px;
    width: 190px;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 40px;
  }

  .example-card p {
      padding-top: 10px;
      padding-bottom: 0;
      margin-bottom: 0px;
  }

  .card-actions {
    margin: 0;
    padding: 0;
  }
  .card-button {
      padding: 10px;
      margin-bottom: 15px;
      margin-top: 0px;
  }
  .card-title {
      display: block;
    font-size: 18px;
    font-weight: 300;

  }

  .example-card img {
      width: 190px;
      padding: 0;
      height: 150px;
    margin: 0 auto;
  }
  
.example-header-image {
    background-size: cover;
    margin-left: 9px;
    margin-right: 0;
}