

.example-card {
    font-size: 18px;
    font-weight: 300;
    display: inline-block;
    padding-right: 0px;
    padding-top: 9px;
    padding-left: 0px;
    width: 190px;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 40px;
    box-shadow: 0 0 2px black;
  }

  .example-card p {
      padding-top: 10px;
      padding-bottom: 0;
      margin-bottom: 0px;
  }

  .card-actions {
    margin: 0;
    padding: 0;
  }
  .card-button {
      font-size: 15px;
      padding: 5px;
      margin-bottom: 15px;
      margin-top: 0px;
  }
  .card-title {
      display: block;
    font-size: 18px;
    font-weight: 300;

  }

  .example-card img {
      width: 190px;
      padding: 0;
      height: 150px;
    margin: 0 auto;
  }
  
.example-header-image {
    background-size: cover;
    margin-left: 9px;
    margin-right: 0;
}