<div class="new-recipe">
    <h2>Редактирай своята рецепта</h2>
    <form form #f="ngForm" (ngSubmit)="submitHandler(f.value)">
        <fieldset>
            <label for="name">Име на ястието:</label>
            <input #recipeName="ngModel" type="text" name="recipeName" placeholder="Име на ястието..." [(ngModel)]="recipe.recipeName" ngModel required >
            <label for="ingredients">Нужни съставки:</label>
            <p>Изреди със запетая*</p>
            <input #ingredients="ngModel" type="text" name="ingredients" placeholder="Изброй подправките със запетая..." [(ngModel)]="recipe.ingredients" ngModel required>
            <label for="quantity">Порции:</label>
            <input #quantity="ngModel" type="number" name="quantity" placeholder="Порции..." [(ngModel)]="recipe.quantity" ngModel required>
            <label for="category">Категория:</label>
            <select #category="ngModel" [(ngModel)]="recipe.category" name="category" ngModel category >
                <option value="Предястия">Предястия</option>
                <option value="Основни">Основни</option>
                <option value="Супи и чорби">Супи и чорби</option>
                <option value="Скара">Скара</option>
                <option value="Десерти">Десерти</option>
                <option value="Тестени изделия">Тестени изделия</option>
                <option value="Салати">Салати</option>
                
            </select>
            <label for="difficulty">Трудност на приготвяне:</label>
            <select #difficultyLevel="ngModel"  [(ngModel)]="recipe.difficultyLevel" name="difficultyLevel" ngModel required>
                <option value="Лесно за приготвяне">Лесно за приготвяне</option>
                <option value="Средно по трудност">Средно по трудност</option>
                <option value="Трудно за приготвяне">Трудно за приготвяне</option>
            </select>
            <label for="necesseryTime">Необходимо време:</label>
            <select #necesseryTime="ngModel" [(ngModel)]="recipe.necesseryTime" name="necesseryTime" ngModel required>
                <option value="15 мин.">15 мин.</option>
                <option value="30 мин.">30 мин.</option>
                <option value="45 мин.">45 мин.</option>
                <option value="1 час">1 час</option>
            </select>
            <label for="img">Линк за изображение на ястието:</label>
            <input #imageUrl="ngModel" type="text" name="imageUrl" [(ngModel)]="recipe.imageUrl" ngModel required>
            <label for="recipeContent">Начин на приготвяне:</label>
            <textarea #recipeContent="ngModel" name="recipeContent" rows="4" cols="50" placeholder="Напиши своята рецепта тук..." [(ngModel)]="recipe.recipeContent" ngModel required></textarea>
            <br>
            <button>Публикувай!</button>
        </fieldset>
    </form>
</div>