.new-recipe {
    padding-top: 60px;
    text-align: center;
}

.new-recipe fieldset {
    border: none;
}

.new-recipe p {
    margin: 0;
    font-size: 13px;
    padding-bottom: 5px;
    color: darkred;
}

.new-recipe select {
    width: 200px;
    border: 2px solid #97A92B;
    border-radius: 5px;
    height: 23px;
    color: black;
}

.new-recipe select::selection {
    text-align: center;
}

.new-recipe button {
    margin-top: 15px;
}

.new-recipe label {
    padding-bottom: 5px;
    padding-top: 5px;
    color: darkolivegreen;
}

.new-recipe label:nth-child(3) {
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.new-recipe label:nth-child(12) {
    padding-top: 10px;
}

.new-recipe textarea {
    height: 230px;
}

.new-recipe input[type='number'] {
    border: solid 2px rgb(140, 165, 71);
    border-radius: 5px;
    height: 20px;
    padding-left: 5px;
    outline: none;
}

.new-recipe input[type='number']:focus {
    outline: none;
    border-color: #9ecaed;
    box-shadow: 0 0 10px #9ecaed;
    color: black;
}
