footer {
    background: white;
    width: 100%;
    padding: 35px 30px;
    bottom: 0;
    z-index: 5;
}

footer p {
    margin: 10px;
    text-align: center;
    color: #6B8C25
}

footer a {
    color: brown;
    font-weight: 600;
}

footer a:hover {
    color: darkblue;
    text-decoration: none;
}