<div class="searching-tool">
    <div class="header">
        <h1>
            Сподели с нас твоята любима рецепта!
        </h1>
        <p>
            <span>ВашитеРецепти.BG</span> - сайт за споделяне на изпорбвани рецепти
        </p>
    </div>
    <h3 class="no-results">Няма открити резултати.</h3>
    <div class="result-from-searching">
        <h3>Резултати:</h3>
        <div class="recipe-info">
            <img src="https://images.immediate.co.uk/production/volatile/sites/30/2020/08/chorizo-mozarella-gnocchi-bake-cropped-9ab73a3.jpg?quality=90&resize=700%2C636" alt="Снимка на частта">
            <p>Ангренажен ремък</p>
            <p>Втора употреба</p>
            <p>Добро състояние</p>
            <p>Цена: 50 лв.</p>
        </div>
        <div class="recipe-info">
            <img src="https://static.oprah.com/2017/03/201703-orig-healthy-plate-949x534.jpg" alt="Снимка на частта">
            <p>Ангренажен ремък</p>
            <p>Втора употреба</p>
            <p>Добро състояние</p>
            <p>Цена: 50 лв.</p>
        </div>
        <div class="recipe-info">
            <img src="https://www.childrens.com/wps/wcm/connect/childrenspublic/e1e7f304-f08d-4464-88de-548d1435362e/shutterrecipe_369960455_800x480.jpg?MOD=AJPERES&CVID=" alt="Снимка на частта">
            <p>Ангренажен ремък</p>
            <p>Втора употреба</p>
            <p>Добро състояние</p>
            <p>Цена: 50 лв.</p>
        </div>
        <div class="recipe-info">
            <img src="https://media-cdn.tripadvisor.com/media/photo-s/08/9d/55/66/1900-park-fare.jpg" alt="Снимка на частта">
            <p>Ангренажен ремък</p>
            <p>Втора употреба</p>
            <p>Добро състояние</p>
            <p>Цена: 50 лв.</p>
        </div>
        <div class="recipe-info">
            <img src="https://images.all-free-download.com/images/graphicthumb/fries_and_steak_on_plate_193268.jpg" alt="Снимка на частта">
            <p>Ангренажен ремък</p>
            <p>Втора употреба</p>
            <p>Добро състояние</p>
            <p>Цена: 50 лв.</p>
        </div>
        </div>
    </div>