<h2 class="register-form-caption">Регистрирай се</h2>
<form [formGroup]="form" class="register-form" (ngSubmit)="submitHandler()">
    <fieldset>
        <!-- username -->
        <p>
            <label for="name">Потребителско име:</label>
            <input [class.input-error]="form.get('username').touched && !!form.get('username').errors" type="text"
                name="name"  placeholder="Потребителско име..." formControlName="username">
        </p>

        <p *ngIf="form.get('username').touched && form.get('username').errors?.required" class="error">
            Username is required!
        </p>
        <p *ngIf="form.get('username').touched && form.get('username').errors?.minlength" class="error">
            Username must be at least 5 characters!
        </p>

        <!-- name -->
        <p>
            <label for="name">Име:</label>
            <input [class.input-error]="form.get('name').touched && !!form.get('name').errors" type="text"
                name="name"  placeholder="Име..." formControlName="name">
        </p>

        <p *ngIf="form.get('name').touched && form.get('name').errors?.required" class="error">
            Name is required!
        </p>

        <!-- surname -->
        <p>
            <label for="surname">Фамилия:</label>
            <input [class.input-error]="form.get('surname').touched && !!form.get('surname').errors" type="text"
                name="surname" id="surname" placeholder="Фамилия..." formControlName="surname">
        </p>

        <p *ngIf="form.get('surname').touched && form.get('surname').errors?.required" class="error">
            Surname is required!
        </p>

        <!-- profile-picture -->
        <p>
            <label for="profilePicutre">Фамилия:</label>
            <input [class.input-error]="form.get('profilePicutre').touched && !!form.get('profilePicutre').errors" type="text"
                name="profilePicutre" id="profilePicutre" placeholder="Постави линк към тоята снимка..." formControlName="profilePicture">
        </p>

        <p *ngIf="form.get('profilePicutre').touched && form.get('profilePicutre').errors?.required" class="error">
            Surname is required!
        </p>

        <p *ngIf="form.get('profilePicutre').touched && form.get('profilePicutre').errors?.linValidation" class="error">
            Your link must contain http or https!</p>

        <!-- password -->
        <p>
            <label for="passowrd">Парола:</label>
            <input [class.input-error]="form.get('password').touched && !!form.get('password').errors" type="password"
                name="password" id="password" placeholder="******" formControlName="password"> </p>

        <p *ngIf="form.get('password').touched && form.get('password').errors?.required" class="error">
            Password is required!
        </p>
        <p *ngIf="form.get('password').touched && form.get('password').errors?.minlength" class="error">
            Password must be at least 5 characters!
        </p>

        <!-- repeatpassword -->
        <p>
            <label for="passowrd">Повтори паролата:</label>
            <input [class.input-error]="form.get('rePassword').touched && !!form.get('rePassword').errors"
                type="password" name="rePassword" id="rePassword" placeholder="******" formControlName="rePassword">
        </p>

        <p *ngIf="form.get('rePassword').touched && form.get('rePassword').errors?.required" class="error">Repeat
            Repeat Password is required!</p>
        <p *ngIf="form.get('rePassword').touched && form.get('rePassword').errors?.rePasswordValidator" class="error">
            Repeat Password does not match password!</p>

            <button [disabled]="form.invalid">Регистрирай се!</button>
    </fieldset>
</form>