<h2 class="register-form-caption">Регистрирай се</h2>
<form [formGroup]="form" class="register-form" (ngSubmit)="submitHandler()">
    <fieldset>
        <!-- username -->
        <p>
            <label for="name">Потребителско име:</label>
            <input [class.input-error]="form.get('username').touched && !!form.get('username').errors" type="text"
                name="name" placeholder="Потребителско име..." formControlName="username">
        </p>

        <p *ngIf="form.get('username').touched && form.get('username').errors?.required" class="error">
            Попълването на поле "Потребителско име" е задължително!
        </p>
        <p *ngIf="form.get('username').touched && form.get('username').errors?.minlength" class="error">
            Потребителското име трябва да съдържа поне 5 символа!
        </p>

        <p *ngIf="form.get('username').touched && form.get('username').errors?.usernameValidator" class="error">
            Потребителското име трябва да съдържа само букви от латинската азбука или цифри!
        </p>


        <!-- name -->
        <p>
            <label for="name">Име:</label>
            <input [class.input-error]="form.get('name').touched && !!form.get('name').errors" type="text" name="name"
                placeholder="Име..." formControlName="name">
        </p>

        <p *ngIf="form.get('name').touched && form.get('name').errors?.required" class="error">
            Попълването на поле "Име" е задължително!
        </p>

        <!-- surname -->
        <p>
            <label for="surname">Фамилия:</label>
            <input [class.input-error]="form.get('surname').touched && !!form.get('surname').errors" type="text"
                name="surname" id="surname" placeholder="Фамилия..." formControlName="surname">
        </p>

        <p *ngIf="form.get('surname').touched && form.get('surname').errors?.required" class="error">
            Попълването на поле "Фамилия" е задължително!
        </p>

        
        <!-- profile-picture -->
        <p>
            <label for="profilePicture">Линк за профилна снимка:</label>
            <input [class.input-error]="form.get('profilePicture').touched && !!form.get('profilePicture').errors"
                type="text" name="profilePicture" id="profilePicture" placeholder="Постави линк към тоята снимка..."
                formControlName="profilePicture">
        </p>

        <p *ngIf="form.get('profilePicture').touched && form.get('profilePicture').errors?.required" class="error">
            Попълването на поле "Линк за профила снимка" е задължително!
        </p>

        <p *ngIf="form.get('profilePicture').touched && form.get('profilePicture').errors?.linkValidator" class="error">
            Твоят линк трябва а съдържа "http" или "https"!
        </p>


        <!-- password -->
        <p>
            <label for="passowrd">Парола:</label>
            <input [class.input-error]="form.get('password').touched && !!form.get('password').errors" type="password"
                name="password" id="password" placeholder="******" formControlName="password"> </p>

        <p *ngIf="form.get('password').touched && form.get('password').errors?.required" class="error">
            Попълването на поле "Парола" е задължително!
        </p>
        <p *ngIf="form.get('password').touched && form.get('password').errors?.minlength" class="error">
            Паролата трябва да съдържа поне 5 символа!
        </p>

        <!-- repeatpassword -->
        <p>
            <label for="passowrd">Повтори паролата:</label>
            <input [class.input-error]="form.get('rePassword').touched && !!form.get('rePassword').errors"
                type="password" name="rePassword" id="rePassword" placeholder="******" formControlName="rePassword">
        </p>

        <p *ngIf="form.get('rePassword').touched && form.get('rePassword').errors?.required" class="error">Repeat
            Попълването на поле "Повтори паролата" е задължително!</p>
        <p *ngIf="form.get('rePassword').touched && form.get('rePassword').errors?.rePasswordValidator" class="error">
            Паролите не съвпадат!</p>

        <button [disabled]="form.invalid">Регистрирай се!</button>
    </fieldset>
</form>