.register-form-caption {
    color: darkolivegreen;
    text-align: center;
    margin-top: 0px;
    padding-top: 100px;
}

.register-form {
    background: rgb(250, 246, 246);
    color: darkolivegreen;
    margin: 0;
}

.register-form fieldset {
    background: rgb(250, 246, 246);
    text-align: center;
    padding: 10px 0px 60px;
    margin-top: 0px;
    border: none;
}

.register-form input {
    margin-top: 5px;
}

.register-form a {
    color: brown;
    font-weight: bold;
}

.register-form a:hover {
    color: darkblue;
    cursor: pointer;
}

.p-for-login {
    margin-top: 50px;
}

