.register-form-caption {
    color: darkolivegreen;
    text-align: center;
    margin-top: 0px;
    padding-top: 100px;
}

.register-form {
    background: rgb(250, 246, 246);
    color: darkolivegreen;
    margin: 0;
}

.register-form fieldset {
    text-align: center;
    padding: 10px 0px 100px;
    margin-top: 0px;
    border: none;
}

.register-form input {
    margin-top: 5px;
}

p.error {
    border-radius: 0.3em;
    color: red;
    padding-top: 0;
  }

.input-error {
    border-left: 0.3em solid red;
  }
