<form action="#" class="register-form">
    <fieldset>
        <p>
            <label for="name">Потребителско име:</label>
            <input type="text" name="username" placeholder="Потребителско име...">
        </p>
        <p>
            <label for="name">Име:</label>
            <input type="text" name="name" placeholder="Име...">
        </p>
        <p>
            <label for="surname">Фамилия:</label>
            <input type="text" name="surname" placeholder="Фамилия">
        </p>
        <p>
            <label for="passowrd">Парола:</label>
            <input type="text" name="password" placeholder="******">
        </p>
        <p>
            <label for="passowrd">Повтори паролата:</label>
            <input type="text" name="repeatPassword" placeholder="******">

        </p>
        <button>Регистрирай се!</button>
    </fieldset>
</form>