<div class="profile-page">
    <div class="profile-template">
        <img src="{{currentUser.profilePicture}}" alt="Профилна снимка">
        <h3>Потребителско име: <span>{{currentUser.username}}</span></h3>
        <h4>Име: <span class="first-name">{{currentUser.name}}</span> <span class="surname">
                {{currentUser.surname}}</span></h4>
    </div>
    <div class="profile-recipes">
        <h3>Публикувани рецепти:</h3>
        <p *ngIf="!isThereRecipes">Този потребител все още няма публикувани рецепти.</p>
        <app-recipe-item *ngFor="let recipe of myRecipes" [recipe]="recipe"></app-recipe-item>
    </div>
</div>