.recipe-details .header p {
    padding-bottom: 100px;
    margin-bottom: 15px;
}

.recipe-details-likes {
    text-align: center;
    margin-top: 30px
}

.recipe-details-container .recipe-details-meta-data ul {
    text-align: center;
}

.recipe-details-container .recipe-details-meta-data ul li {
    color: darkolivegreen;
    display: inline-block;
    padding-right: 10px;
    padding-left: 10px;
    border-left: solid;
}

.recipe-details-container .recipe-details-meta-data ul li:first-child {
    border-left: none;
}

.recipe-details-container .recipe-details-base-text p {
    text-align: justify;
    padding-left: 100px;
    padding-right: 70px;
    padding-top: 18px;
}

.recipe-details .recipe-details-likes {
    text-align: center;
}

.recipe-details-ingredients {
    float: left;
    max-width: 500px;;
    border-bottom: 1px solid darkolivegreen;
    margin-right: 50px;
    margin-left: 100px;
    margin-bottom: 20px;
}

.recipe-details-ingredients p {
    text-align: center;
    margin-bottom: 0px;
    padding-bottom: 0px;
    font-weight: 600;
    color: darkolivegreen;
}



.recipe-details-ingredients ul li {
    color: darkolivegreen;
    display: inline-block;
    padding-right: 10px;
    padding-left: 10px;
    border-left: solid;
}

.recipe-details-ingredients ul {
    text-align: left;
    padding: 0px;
}

.recipe-details-my-own-recipe a{
    margin: 10px;
}

.lds-ring {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid transparent;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: transparent transparent transparent transparent;
  }
  .lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
  }
  .lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
  }
  .lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
  }
  @keyframes lds-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  .recipe-details-registered-users p, .recipe-details-my-own-recipe p {
    padding-bottom: 30px;
  }

  .recipe-details-login {
    padding-bottom: 30px;
  }

  @media screen and (max-width: 500px) {
    .recipe-details-ingredients {
      max-width: 300px;
      display: contents;
      text-align: center;
    }

    div.recipe-details-container > div.recipe-details-base-text > p {
      padding: 0;
      width: 85%;
      margin: 0 auto;
  }
  }