<div class="recipe-info-page">
    <div class="header" style="background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.6)), url('{{recipe.imageUrl}}'); background-size: cover; background-repeat: no-repeat;">
        <h1>
            {{recipe.recipeName}}
        </h1>
        <p>
            <span>ВашитеРецепти.BG</span> - сайт за споделяне на изпорбвани рецепти
        </p>
    </div>
    <div class="recipe-main-info">
        <div class="brief-info">
            <ul>
                <li>Категория: <span>{{recipe.category}}</span></li>
                <li>Време на приготвяне: <span>{{recipe.necesseryTime}}</span></li>
                <li>Трудност: <span>{{recipe.difficultyLevel}}</span></li>
                <li>Дата на публикуване: <span>{{recipe.createdAt}}</span></li>
                <li>Количество: <span>{{recipe.quantity}} </span>{{recipe.quantity > 1 ? 'порции': 'порция'}}</li>
                <li>Споделил: <span>{{recipe.creator}}</span></li>
            </ul>
            <div class="ingredients">
                <p>Нужни съставки:</p>
                <ul >
                    <li *ngFor="let ingredient of recipe.ingredients">{{ingredient}}</li>
                </ul>
            </div>

        </div>
        <div class="main-info">
            <p>{{recipe.recipeContent}}</p>
        </div>
    </div>
    <div class="likes">
        <div class="unregistered-users" *ngIf="!isLogged">
            <p>Рецептата има {{recipe.likedBy.length}} харесвания.</p>
            <p>За да харесаш и ти, <a routerLink="/user/login">влез</a> в профила си, или ако нямаш такъв, се <a
                routerLink="/user/register">регистрирай</a>.</p>
        </div>
        <app-loader *ngIf="isLoading"></app-loader>
        <div class="registered-users" *ngIf="isLogged && !isLoading">
            <div *ngIf="!isCreator">
            <div class="not-liked" *ngIf="!isLiked">
                <p><a (click)="likeRecipe()" class="button">Харесай</a></p>
                <p>Рецептата има {{recipe.likedBy.length}} харесвания.</p>
            </div>
            <div class="liked" *ngIf="isLiked">
                <p *ngIf='recipe.likedBy.length === 1'>Ти си първият харесал тази рецепта!</p>
                <p *ngIf="recipe.likedBy.length > 1">Ти и още {{recipe.likedBy.length - 1}} {{recipe.likedBy.length > 2 ? ' потребители': ' потребител'}}харесахте тази рецепта.</p>
            </div>
            </div>
            <div class="my-own-recipe" *ngIf="isCreator">
                <a class="button" (click)="editRecipe()">Редактирай</a> <a class="button" (click)="deleteRecipe()">Изтрий</a>
                <p>{{recipe.likedBy.length}} {{recipe.likedBy.length === 1 ? 'потребител харесва': 'потребители харесват'}} твоята рецепта.</p>
            </div>
        </div>
    </div>
</div>