header {
  z-index: 10;
  width: 100%;
  position: sticky;
}



input:focus {
  outline: none;
  border-right: 0px;
  border-color: #9ecaed;
  box-shadow: 0 0 10px #9ecaed;
  color: black;
}

nav {
  background-color: white;
  font-size: 18px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #6B8C25;
  position: fixed;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}


nav .appName {
  font-family: 'Pattaya';
  font-size: 24px;
  font-weight: 500;
  text-align: center;
}

nav ul {
  padding: 0 20px;
  margin-bottom: 3px;
}

nav ul li {
  display: inline-block;
  margin: 0 10px;
}

nav a {
  text-decoration: none;
  color: #6B8C25;
}



nav a:hover {
  color: darkblue;
  cursor: pointer;
  text-decoration: none;
  text-shadow: 0 0 0.5px darkblue;
}

nav input {
  width: 120px;
  margin-top: 10px;
  height: 20px;
  margin-bottom: 0;
  margin-top: 0px;
  height: 25px;
}

nav input[type='text'] { font-size: 16px; height: 21px; }

/* search */

.forSearch {
  display: inline-flex;
  margin-right: 10px;
}


#search-btn{
  width: 27px;
  height: 27px;
  background-color:#6B8C25;
  text-align: center;
  border-left: 0px;
  border-top-right-radius: 15%;
  border-bottom-right-radius: 15%;
  margin-left: -27px;
  position: relative;
  color:white;
  vertical-align: center;
}

.hide-nav {
  display: none;
}
#search:hover {
  cursor: pointer;
  color: grey;
}

#search-input {
  height: 27px;
  border: #6B8C25 solid 1px;
  width: 180px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
}

.dropdown:hover .dropdown-content {
  display: block;
  position: absolute;
  background-color: #f9f9f9;
  width: 350px;
  border-radius: 2%;
  /* z-index: 1; */
}

.search-result:hover {
  background:  #6B8C25;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 1px 0px 10px black;
}

 
.search-result {
  border-bottom: black 1px solid;
  height: 140px;
}

.search-result div {
  width: 230px;
  float: left;
  margin-bottom: 3px;
  margin-top: 3px;
}
.search-result-img {
  margin-top: 16px;
  margin-right: 23px;
  width: 90px;
  height: 110px;
  float: right;
  border: solid 1px rgb(12, 68, 12);
}

.search-result p {
  padding-left: 10px;
}

.search-result .recipe-name {
  margin-top: 10px;
  margin-bottom: 0px;
  font-weight: 600;
}

.search-result .recipe-content {
  margin-top: 0;
  margin-bottom: 0;
}