<header style="@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
font-family: 'PT sans', sans-serif;">
    <nav>
        <p><a href="#">ВашитеРецепти.BG</a></p>
        <ul>
            <li class="forSearch" style="display: inline-flex;
            margin-right: 0px;">
                <input type="text" placeholder="Търси...">
                <img id="search"
                    src="https://icon-library.com/images/white-search-icon-png/white-search-icon-png-17.jpg" alt="">
            </li>
            <li>
                <a href="#">Начало</a>
            </li>
            <li>
                <a href="#">Сподели рецепта</a>
            </li>
            <li>
                <a href="#">Моят профил</a>
            </li>
            <!-- <li>
                <a href="">Вход</a>
            </li>
            <li>
                <a href="">Регистрация</a>
            </li> -->
            <li>
                <a href="#">За нас</a>
            </li>
            <li>
                <a href="#">Изход</a>
            </li>
        </ul>
    </nav>
</header>