nav {
  position: sticky !important;
  top: 0;
  z-index: 10;
  background-color: white;
  font-size: 18px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #6B8C25;
  width: 100%;
  text-align: center;
}

nav .appName {
  font-family: 'Pattaya';
  font-size: 24px;
  font-weight: 500;
  text-align: center;
}

nav ul {
  padding: 0 20px;
  margin-bottom: 3px;
}

nav ul li {
  display: inline-block;
  margin: 0 10px;
}

nav a {
  text-decoration: none;
  color: #6B8C25;
}

nav a:hover {
  color: grey;
  cursor: pointer;
  text-decoration: none;
  text-shadow: 0 0 0.5px darkblue;
}

nav input {
  width: 120px;
  margin-top: 10px;
  margin-bottom: 0;
  margin-top: 0px;
  height: 25px;
}



/* search field*/

nav input[type='text'] { font-size: 16px; height: 21px; }

nav input:focus {
  outline: none;
  border-right: 0px;
  box-shadow: 0 0 10px #9ecaed;
  color: black;
}

.tag-for-search {
  display: inline-flex;
  margin-right: 10px;
}


#search-btn{
  width: 27px;
  height: 27px;
  background-color:#6B8C25;
  text-align: center;
  border-left: 0px;
  border-top-right-radius: 15%;
  border-bottom-right-radius: 15%;
  margin-left: -27px;
  position: relative;
  color:white;
  vertical-align: center;
}

#search:hover {
  cursor: pointer;
  color: #6B8C25;
  background-color: grey;
}

#search-input {
  height: 27px;
  border: #6B8C25 solid 1px;
  width: 180px;
}

.search-field-dropdown {
  position: relative;
  display: inline-block;
}

.search-field-dropdown-content {
  display: none;
}

.search-field-dropdown:hover .search-field-dropdown-content {
  display: block;
  position: absolute;
  background-color: #f9f9f9;
  width: 350px;
  border-radius: 2%;
  /* z-index: 1; */
}

.search-field-dropdown-result:hover {
  background:  #6B8C25;
  border-radius: 4px;
  cursor: pointer;
  color: black;
  box-shadow: 1px 0px 10px black;
}

 
.search-field-dropdown-result {
  border-bottom: black 1px solid;
  height: 140px;
}

.search-field-dropdown-result div {
  width: 230px;
  float: left;
  margin-bottom: 3px;
  margin-top: 3px;
}
.search-field-dropdown-result img {
  margin-top: 16px;
  margin-right: 23px;
  width: 90px;
  height: 110px;
  float: right;
  border: solid 1px black;
  border-radius: 2%;
}

.search-field-dropdown-result p {
  padding-left: 10px;
}

.search-field-dropdown-result .search-field-dropdown-recipe-name {
  margin-top: 10px;
  margin-bottom: 0px;
  font-weight: 600;
}



.search-field-dropdown:hover .search-field-dropdown-content-for-mobile {
  display: block;
  position: absolute;
  background-color: #f9f9f9;
  width: 150px;
  border-radius: 2%;
  /* z-index: 1; */
}


.search-field-dropdown-result-for-mobile:hover {
  background:  #6B8C25;
  border-radius: 4px;
  cursor: pointer;
  color: black;
  box-shadow: 1px 0px 10px black;
}

.search-field-dropdown-content-for-mobile img {
  width: 95%;
  border-radius: 5px;
}

.result-border-mobile {
  padding-top: 10px ;
  padding-bottom: 5px;
  border-bottom: solid 1px black;
}

.search-field-dropdown-result .search-field-dropdown-recipe-content {
  margin-top: 0;
  margin-bottom: 0;
}


nav .nav-for-mobile {
  display: none;
}

#dropdownBasic1 {
  border-color: #6B8C25;
  color: #6B8C25;
}

#dropdownBasic1:hover {
  background-color: #6B8C25;
  color: white;
}


@media screen and (max-width: 800px) {
  nav ul {
    display: none
  }

  nav .nav-for-mobile {
    display: flex;
    justify-content: center;
    margin-left: 10px;
  }

  nav #search-input {
    margin-left: 10px;
    margin-right: 0;
  }

  #dropdownBasic1 {
    padding-top: 0;
    padding-bottom: 0;
    vertical-align: top;
    height: 27.2px;  
  }
}