input:focus {
  outline: none;
  border-color: #9ecaed;
  box-shadow: 0 0 10px #9ecaed;
  color: black;
}

nav {
  padding: 10px 10px;
  background: #97A92B;
  font-size: 18px;
  padding-top: 2px;
  padding-bottom: 0px;
  position: fixed;
  width: 100%;
}


nav p {
  font-family: 'Pattaya';
  display: inline-block;
  margin: 10px;
  font-size: 24px;
  font-weight: 500;
  width: 100px;
  margin-top: 6px;
  margin-bottom: 9px;
}

nav ul {
  margin: 10px;
  padding: 0 20px;
  float: right;
  margin-top: 9px;
  margin-bottom: 3px;
}

nav ul li {
  display: inline-block;
  margin: 0 10px;
}

nav a {
  text-decoration: none;
  color: white;
}

.forSearch {
  display: inline-flex;
  margin-right: 0px;
}
nav ul li img {
  width: 25px;
  height: 25px;
}

nav ul li img:hover {
  filter: blur(3);
  filter: brightness(3);
  filter: drop-shadow(0px 0px 2px darkblue);
  cursor: pointer;
  text-decoration: none;
}

nav a:hover {
  color: darkblue;
  cursor: pointer;
  text-decoration: none;
  text-shadow: 0 0 1px darkblue;
}

nav input {
  width: 120px;
  margin-top: 10px;
  height: 20px;
  margin-bottom: 0;
  margin-top: 0px;
}

nav input[type='text'] { font-size: 16px; height: 21px; }

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}
 