<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css"
        rel="stylesheet"> -->
    <!-- <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet"> -->
    <link rel="stylesheet" href="./style.css">
    <title>Вашите рецепти</title>
</head>

<body>
    <header>
        <nav>
            <p><a href="#">ВашитеРецепти.BG</a></p>
            <ul>
                <li class="forSearch">
                    <input type="text" placeholder="Търси...">
                    <img id="search"
                        src="https://icon-library.com/images/white-search-icon-png/white-search-icon-png-17.jpg" alt="">
                </li>
                <li>
                    <a href="#">Начало</a>
                </li>
                <li>
                    <a href="#">Сподели рецепта</a>
                </li>
                <li>
                    <a href="#">Моят профил</a>
                </li>
                <!-- <li>
                    <a href="">Вход</a>
                </li>
                <li>
                    <a href="">Регистрация</a>
                </li> -->
                <li>
                    <a href="#">За нас</a>
                </li>
                <li>
                    <a href="#">Изход</a>
                </li>
            </ul>
        </nav>
    </header>
    <main>

        <!-- home-page-for-guests -->


        <div class="home-page-for-guests">
            <div class="header">
                <h1>
                    Научи нова рецепта за вкусна закуска, обяд или вечеря!
                </h1>
                <p>
                    <span>ВашитеРецепти.Bg</span> - сайт споделяне на изпорбвани рецепти
                </p>
                <div class="buttons">
                    <a href="#" class="button">Вход</a>
                    <a href="#" class="button">Регистрация</a>
                </div>
            </div>
            <div class="recipes-for-guest-page">
                <p class="caption-for-guests">Топ 5 рецепти за деня:</p>
                <div class="recipe-info">
                    <img src="https://images.immediate.co.uk/production/volatile/sites/30/2020/08/chorizo-mozarella-gnocchi-bake-cropped-9ab73a3.jpg?quality=90&resize=700%2C636" alt="Снимка на частта">
                    <p>Ангренажен ремък</p>
                    <p>Втора употреба</p>
                    <p>Добро състояние</p>
                    <p>Цена: 50 лв.</p>
                </div>
                <div class="recipe-info">
                    <img src="https://static.oprah.com/2017/03/201703-orig-healthy-plate-949x534.jpg" alt="Снимка на частта">
                    <p>Ангренажен ремък</p>
                    <p>Втора употреба</p>
                    <p>Добро състояние</p>
                    <p>Цена: 50 лв.</p>
                </div>
                <div class="recipe-info">
                    <img src="https://www.childrens.com/wps/wcm/connect/childrenspublic/e1e7f304-f08d-4464-88de-548d1435362e/shutterrecipe_369960455_800x480.jpg?MOD=AJPERES&CVID=" alt="Снимка на частта">
                    <p>Ангренажен ремък</p>
                    <p>Втора употреба</p>
                    <p>Добро състояние</p>
                    <p>Цена: 50 лв.</p>
                </div>
                <div class="recipe-info">
                    <img src="https://media-cdn.tripadvisor.com/media/photo-s/08/9d/55/66/1900-park-fare.jpg" alt="Снимка на частта">
                    <p>Ангренажен ремък</p>
                    <p>Втора употреба</p>
                    <p>Добро състояние</p>
                    <p>Цена: 50 лв.</p>
                </div>
                <div class="recipe-info">
                    <img src="https://images.all-free-download.com/images/graphicthumb/fries_and_steak_on_plate_193268.jpg" alt="Снимка на частта">
                    <p>Ангренажен ремък</p>
                    <p>Втора употреба</p>
                    <p>Добро състояние</p>
                    <p>Цена: 50 лв.</p>
                </div>
            </div>
            <div class="options-for-login-or-register">
                <p>За повече възможности в търсенето на рецепти <a>влез</a> в профила или ако все още нямаш такъв се <a>регистрай</a>!</p>
            </div>
        </div>


        <!-- Register form -->

        <form action="#" class="register-form">
            <fieldset>
                <p>
                    <label for="name">Потребителско име:</label>
                    <input type="text" name="username" placeholder="Потребителско име...">
                </p>
                <p>
                    <label for="name">Име:</label>
                    <input type="text" name="name" placeholder="Име...">
                </p>
                <p>
                    <label for="surname">Фамилия:</label>
                    <input type="text" name="surname" placeholder="Фамилия">
                </p>
                <p>
                    <label for="passowrd">Парола:</label>
                    <input type="text" name="password" placeholder="******">
                </p>
                <p>
                    <label for="passowrd">Повтори паролата:</label>
                    <input type="text" name="repeatPassword" placeholder="******">

                </p>
                <button>Регистрирай се!</button>
            </fieldset>
        </form>


        <!-- Login form -->

        <form action="#" class="login-form">
            <fieldset>
                <p>
                    <label for="name">Потребителско име:</label>
                    <input type="text" name="username" placeholder="Потребителско име...">
                </p>
                <p>
                    <label for="passowrd">Парола:</label>
                    <input type="text" name="password" placeholder="******">
                </p>
                <button>Вход!</button>
            </fieldset>
        </form>


        <!-- home-page-for-logged-in-users -->

        <div class="home-page-for-logged-in-users">
            <div class="header">
                <h1>
                    Сподели с нас твоята любима рецепта!
                </h1>
                <p>
                    <span>ВашитеРецепти.BG</span> - сайт за споделяне на изпорбвани рецепти
                </p>
            </div>
            <p class="caption-for-logged-in">Добре дошъл в своя профил, Иванка!</p>
            <div class="for-sharing-button"><a href="". class="button">Сподели рецепта</a></div>
            <p class="caption-for-logged-in">Топ 5 рецепти за деня:</p>
            <div class="all-recipes">
                <div class="recipe-info">
                    <img src="https://images.immediate.co.uk/production/volatile/sites/30/2020/08/chorizo-mozarella-gnocchi-bake-cropped-9ab73a3.jpg?quality=90&resize=700%2C636" alt="Снимка на частта">
                    <p>Ангренажен ремък</p>
                    <p>Втора употреба</p>
                    <p>Добро състояние</p>
                    <p>Цена: 50 лв.</p>
                </div>
                <div class="recipe-info">
                    <img src="https://static.oprah.com/2017/03/201703-orig-healthy-plate-949x534.jpg" alt="Снимка на частта">
                    <p>Ангренажен ремък</p>
                    <p>Втора употреба</p>
                    <p>Добро състояние</p>
                    <p>Цена: 50 лв.</p>
                </div>
                <div class="recipe-info">
                    <img src="https://www.childrens.com/wps/wcm/connect/childrenspublic/e1e7f304-f08d-4464-88de-548d1435362e/shutterrecipe_369960455_800x480.jpg?MOD=AJPERES&CVID=" alt="Снимка на частта">
                    <p>Ангренажен ремък</p>
                    <p>Втора употреба</p>
                    <p>Добро състояние</p>
                    <p>Цена: 50 лв.</p>
                </div>
                <div class="recipe-info">
                    <img src="https://media-cdn.tripadvisor.com/media/photo-s/08/9d/55/66/1900-park-fare.jpg" alt="Снимка на частта">
                    <p>Ангренажен ремък</p>
                    <p>Втора употреба</p>
                    <p>Добро състояние</p>
                    <p>Цена: 50 лв.</p>
                </div>
                <div class="recipe-info">
                    <img src="https://images.all-free-download.com/images/graphicthumb/fries_and_steak_on_plate_193268.jpg" alt="Снимка на частта">
                    <p>Ангренажен ремък</p>
                    <p>Втора употреба</p>
                    <p>Добро състояние</p>
                    <p>Цена: 50 лв.</p>
                </div>
                </div>
            </div>
        </div>


        <!-- recipe-info -->

        <div class="recipe-info-page">
            <div class="header">
                <h1>
                    Сподели с нас твоята любима рецепта!
                </h1>
                <p>
                    <span>ВашитеРецепти.BG</span> - сайт за споделяне на изпорбвани рецепти
                </p>
            </div>
            <div class="recipe-main-info">
                <div class="brief-info">
                    <ul>
                        <li>Категория: <span>Супи и чорби</span></li>
                        <li>Време на приготвяне: <span>60 мин.</span></li>
                        <li>Трудност: <span>Лесно за приготвяне</span></li>
                        <li>Дата на публикуване: <span>03.12.2020</span></li>
                        <li>Количество <span>8</span> порции</li>
                    </ul>
                </div>
                <div class="main-info">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis ea incidunt voluptatibus cumque consequuntur? Explicabo sed unde quisquam in. Eligendi quisquam ducimus mollitia, ratione recusandae voluptatum cum est labore sint.
                    Nobis asperiores eveniet ipsam ducimus autem totam eligendi. Excepturi, dicta alias? Velit, illo? Ab qui ea alias adipisci ipsum aspernatur quas eius delectus, ut itaque voluptatem soluta vitae corporis natus.
                    Autem cumque, quibusdam nobis iste cum deleniti veniam eos labore sequi quas, ut vero officiis similique eius eligendi amet eveniet vitae laudantium ab! Animi, facilis! Totam non rem exercitationem a.
                    Eveniet suscipit officiis, omnis veniam quis vero similique repudiandae accusantium sint odit ut nesciunt dignissimos quisquam adipisci atque fuga, nihil commodi quidem dolorum debitis aut itaque id? Non, magni necessitatibus!
                    Nulla ex optio voluptatem debitis vitae corporis praesentium, molestiae modi quae rem quisquam a vel. Officia animi ex libero, incidunt commodi vero porro. Amet quo quae, dignissimos excepturi officiis sit!
                    Mollitia iste labore at rem fugiat, consectetur cum corrupti iure cumque dolor repellendus neque aut ea incidunt exercitationem eaque, deserunt sapiente animi, nemo illo dignissimos optio atque! Omnis, laboriosam labore.
                    Illum eligendi quia sit. Nihil quod dolorem velit ratione qui quis, architecto aut autem tempora accusantium laboriosam placeat, veritatis nobis esse animi assumenda sunt beatae delectus totam facere vitae? Itaque.
                    Rem perferendis, reprehenderit, culpa explicabo pariatur quae veritatis quidem voluptates asperiores ea ipsum ipsam, fugiat atque placeat autem repudiandae accusantium doloremque corrupti neque architecto debitis ad modi. Quasi, modi praesentium.
                    Nobis laborum suscipit, molestias consequatur porro est! Commodi delectus est iste ducimus, ipsum laboriosam expedita consectetur ullam corrupti reprehenderit molestiae itaque error nulla fugit quaerat similique odit architecto modi iusto.
                    Sed ut pariatur deserunt unde accusantium quisquam saepe odio ipsum repellat dolor eos optio voluptatem dolorem accusamus maiores explicabo inventore, quaerat magnam reprehenderit totam nihil excepturi, similique doloremque. Rerum, quidem.
                    Aut placeat nam voluptas molestias in autem dolore, earum voluptatum numquam cupiditate pariatur assumenda doloremque recusandae adipisci distinctio eligendi doloribus deserunt culpa explicabo necessitatibus quibusdam ducimus, exercitationem incidunt? Doloremque, deleniti!
                    Facere odio accusamus nulla error qui vel, maiores architecto, sit non voluptatem quas rerum eaque animi voluptas maxime consequuntur exercitationem recusandae similique quae adipisci? Nam quia ut dolor accusantium dolorum!
                    Temporibus, quaerat dolorum, odio laborum est corrupti ex libero, excepturi vero odit doloribus repellat quis at earum ut! Facilis incidunt atque laboriosam id dolore quis, earum laborum illo fuga quasi.
                    Voluptatibus, aspernatur! Natus sint tempora explicabo eligendi labore harum iste dolore sapiente unde omnis voluptatem doloribus eveniet, soluta quis doloremque ullam repellat provident voluptas molestias! Voluptas veritatis laborum est nulla!
                    Beatae, ex quibusdam itaque optio autem dolore tempore dolorum quas omnis laborum voluptatem amet, dolorem unde facere animi reprehenderit mollitia fugiat minus atque quae vitae labore saepe ipsam! Voluptatem, sint!
                    Numquam nihil nulla minima. Veniam sequi ducimus fugit dolores reiciendis rem dicta totam culpa, vel porro illum accusantium consectetur qui molestias velit repudiandae, deserunt error magnam? Perferendis possimus maxime libero?
                    Maiores, provident nesciunt! Voluptatum soluta nam ipsum non iusto, modi totam placeat labore, sequi tempore, magni perferendis! Mollitia dicta culpa, laboriosam, ipsa corrupti minus illum quibusdam veritatis corporis modi amet?
                    Atque veritatis tenetur perferendis nostrum culpa quaerat nihil labore quidem minus dicta sit a odit doloremque harum sapiente soluta error mollitia neque, laborum aliquid nisi praesentium! Doloribus quis voluptas accusamus?
                    Suscipit tempora adipisci ullam non perferendis amet voluptatem sint sapiente libero impedit incidunt ad unde soluta fugit dolore at, dolores dicta reiciendis iure magnam quaerat ea enim. Quidem, illum fugiat.
                    Impedit voluptatum officia rerum quae reiciendis dicta ab iusto ad, vero vel, blanditiis maxime voluptatem. Velit fugit, assumenda at sequi eius ut mollitia repudiandae iure, ullam nihil eveniet sed sit!</p>
                </div>
            </div>
            <div class="likes">
            <div class="unregistered-users">
                <p>Рецептата има 3 харесвания.</p>
                <p>За да харесаш и ти, <a href="">влез</a> в профила си, или ако нямаш такъв, се <a href="#">регистрирай</a>.</p>
            </div>
            <div class="registered-users">
                <div class="not-liked">
                    <p><a href="#" class="button">Харесай</a></p>
                    <p>Рецептата има 3 харесвания.</p>
                </div>
                <div class="liked">
                    <p>Ти и още 3 души харесахте тази рецепта.</p>
                </div>
            </div>
        </div>
        </div>
        

        <!-- not-found-page -->

        <div class="not-found">
            <h1>404</h1>
            <h2>Страницата не е открита!</h2>
            <p>Отиди в <a href="#">началната</a> страница и пробвай да намериш това, което търсиш, отново.</p>
        </div>


        <!-- profile-page -->

        <div class="profile-page">
        <div class="profile-template">
            <img src="https://image.freepik.com/free-vector/woman-profile-cartoon_18591-58475.jpg" alt="Профилна снимка">
            <h3>Потребителско име: <span>Vanya</span></h3>
            <h4>Име: <span class="first-name">Иванка</span> <span class="surname">Иванова</span></h4>
        </div>
            <div class="profile-recipes">
                <h3>Публикувани рецепти:</h3>
                <div class="recipe-info">
                    <img src="https://images.immediate.co.uk/production/volatile/sites/30/2020/08/chorizo-mozarella-gnocchi-bake-cropped-9ab73a3.jpg?quality=90&resize=700%2C636" alt="Снимка на частта">
                    <p>Ангренажен ремък</p>
                    <p>Втора употреба</p>
                    <p>Добро състояние</p>
                    <p>Цена: 50 лв.</p>
                </div>
                <div class="recipe-info">
                    <img src="https://static.oprah.com/2017/03/201703-orig-healthy-plate-949x534.jpg" alt="Снимка на частта">
                    <p>Ангренажен ремък</p>
                    <p>Втора употреба</p>
                    <p>Добро състояние</p>
                    <p>Цена: 50 лв.</p>
                </div>
                <div class="recipe-info">
                    <img src="https://www.childrens.com/wps/wcm/connect/childrenspublic/e1e7f304-f08d-4464-88de-548d1435362e/shutterrecipe_369960455_800x480.jpg?MOD=AJPERES&CVID=" alt="Снимка на частта">
                    <p>Ангренажен ремък</p>
                    <p>Втора употреба</p>
                    <p>Добро състояние</p>
                    <p>Цена: 50 лв.</p>
                </div>
                <div class="recipe-info">
                    <img src="https://media-cdn.tripadvisor.com/media/photo-s/08/9d/55/66/1900-park-fare.jpg" alt="Снимка на частта">
                    <p>Ангренажен ремък</p>
                    <p>Втора употреба</p>
                    <p>Добро състояние</p>
                    <p>Цена: 50 лв.</p>
                </div>
                <div class="recipe-info">
                    <img src="https://images.all-free-download.com/images/graphicthumb/fries_and_steak_on_plate_193268.jpg" alt="Снимка на частта">
                    <p>Ангренажен ремък</p>
                    <p>Втора употреба</p>
                    <p>Добро състояние</p>
                    <p>Цена: 50 лв.</p>
                </div>
        </div>
    </div>


    <!-- searching tool -->

    <div class="searching-tool">
            <div class="header">
                <h1>
                    Сподели с нас твоята любима рецепта!
                </h1>
                <p>
                    <span>ВашитеРецепти.BG</span> - сайт за споделяне на изпорбвани рецепти
                </p>
            </div>
            <h3 class="no-results">Няма открити резултати.</h3>
            <div class="result-from-searching">
                <h3>Резултати:</h3>
                <div class="recipe-info">
                    <img src="https://images.immediate.co.uk/production/volatile/sites/30/2020/08/chorizo-mozarella-gnocchi-bake-cropped-9ab73a3.jpg?quality=90&resize=700%2C636" alt="Снимка на частта">
                    <p>Ангренажен ремък</p>
                    <p>Втора употреба</p>
                    <p>Добро състояние</p>
                    <p>Цена: 50 лв.</p>
                </div>
                <div class="recipe-info">
                    <img src="https://static.oprah.com/2017/03/201703-orig-healthy-plate-949x534.jpg" alt="Снимка на частта">
                    <p>Ангренажен ремък</p>
                    <p>Втора употреба</p>
                    <p>Добро състояние</p>
                    <p>Цена: 50 лв.</p>
                </div>
                <div class="recipe-info">
                    <img src="https://www.childrens.com/wps/wcm/connect/childrenspublic/e1e7f304-f08d-4464-88de-548d1435362e/shutterrecipe_369960455_800x480.jpg?MOD=AJPERES&CVID=" alt="Снимка на частта">
                    <p>Ангренажен ремък</p>
                    <p>Втора употреба</p>
                    <p>Добро състояние</p>
                    <p>Цена: 50 лв.</p>
                </div>
                <div class="recipe-info">
                    <img src="https://media-cdn.tripadvisor.com/media/photo-s/08/9d/55/66/1900-park-fare.jpg" alt="Снимка на частта">
                    <p>Ангренажен ремък</p>
                    <p>Втора употреба</p>
                    <p>Добро състояние</p>
                    <p>Цена: 50 лв.</p>
                </div>
                <div class="recipe-info">
                    <img src="https://images.all-free-download.com/images/graphicthumb/fries_and_steak_on_plate_193268.jpg" alt="Снимка на частта">
                    <p>Ангренажен ремък</p>
                    <p>Втора употреба</p>
                    <p>Добро състояние</p>
                    <p>Цена: 50 лв.</p>
                </div>
                </div>
            </div>
        </div>
    </div>


    <!-- about -->
    <div class="about">
        <div class="header">
            <h1>
                За нас
            </h1>
            <p>
                <span>ВашитеРецепти.BG</span> - сайт за споделяне на изпорбвани рецепти
            </p>
        </div>
        <div class="about-contain">
            <h4>Този сайт е предназначен за хора, които искат да научат нови рецепти за вкусни ястия или да споделят изпробвани от тях.</h3>
        </div>
    </div>


    <!-- footer -->

    </main>
    <footer>
        <p>Този сайт e предназначен за финалния изпит на курса на SoftUni <a href="https://softuni.bg/trainings/3249/angular-november-2020/internal">"Angular - ноември 2020"</a></p>
        <p>&copy Всички права запазени, 2020</p>
    </footer>
</body>

</html>