
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pattaya&display=swap');
body {
    font-family: 'PT Sans', sans-serif;
    margin: 0;
    padding: 0;
    font-size: 18px;
    background-color: rgb(250, 246, 246);
    
}

h1 {
    line-height: 36px;
    font-weight: 500px;
}

label {
    display: block;
}

input {
    width: 250px;
    color: black;
}

input[type=text] {
    border: 2px solid #97A92B;
    border-radius: 5px;
    height: 23px;
    box-sizing: border-box;
    padding-top: 11px;
    padding-bottom: 11px;
    padding-left: 5px;
}

input:focus {
    outline: none;
    border-color: #9ecaed;
    box-shadow: 0 0 10px #9ecaed;
    color: black;
}

.button, button {
    border: solid;
    border-width: 1px;
    padding: 5px 30px;
    color: darkolivegreen;
    border-radius: 15%;
    background: transparent;
}

a {
    text-decoration: none;
}

.button:hover{
    background-color: #97A92B;
    color: black;
    text-decoration: none;
    cursor: pointer;
}

button:hover{
    background-color: #97A92B;
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.recipe-info {
    display: inline-block;
    background: #97A92B;
    padding: 20px;
    padding-right: 12px;
    padding-top: 9px;
    padding-left: 9px;
    color: black;
    border: solid;
    border-color: #6B8C25;
    border-width: 2px;
    width: 200px;
    height: auto;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 40px;
}

.recipe-info p {
    text-align: center;
    width: 200;
    margin: 5px;
}

.recipe-info:hover {
    color: black;
    background: #DFDF95;
    border-color: gray;
    cursor: pointer;
}

.recipe-info img {
    width: 200px;
    height: 150px;
    border: solid;
    border-width: 2px;
    border-color: darkgreen;
    margin-bottom: 25px;
}

.header {
    background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.6)), url('https://popolr.com/Assets/Images/landing/how.jpg');
    color: white;
    background-size: cover;
}

.header h1 {
    padding: 140px 0px 0px 400px;
    margin: 0;
    width: 34%;
    position: static;
}

.header p {
    padding-top: 0px;
    margin-top: 0px;
    margin-left: 400px;
    margin-bottom: 50px;
    text-shadow: 2px 2px black;
}

.header p span {
    font-weight: bold;
}

.header .buttons {
    padding: 0px 0px 100px 400px;
    position: static;
}

.header .buttons .button {
    margin-right: 30px;
    color: white;
}

.header .buttons .button:hover {
    color: black;
}


/* navigation  */

nav {
    padding: 10px 10px;
    background: #97A92B;
    font-size: 18px;
    padding-top: 2px;
    padding-bottom: 0px;
    position: fixed;
    width: 100%;
}


nav p {
    font-family: 'Pattaya';
    display: inline-block;
    margin: 10px;
    font-size: 24px;
    font-weight: 500;
    width: 100px;
    margin-top: 6px;
    margin-bottom: 9px;
}

nav ul {
    margin: 10px;
    padding: 0 20px;
    float: right;
    margin-top: 9px;
    margin-bottom: 3px;
}

nav ul li {
    display: inline-block;
    margin: 0 10px;
}

nav a {
    text-decoration: none;
    color: white;
}

.forSearch {
    display: inline-flex;
    margin-right: 0px;
}
nav ul li img {
    width: 26px;
    height: 26px;
}

nav a:hover {
    color: black;
    cursor: pointer;
    text-decoration: none;
}

nav input {
    width: 120px;
    padding: 1px;
    margin-top: 10px;
    height: 20px;
    color: white;
    margin-bottom: 0;
    margin-top: 0px;
}

nav input[type='text'] { font-size: 16px; height: 21px; }

/* home-page-for-guests */

.home-page-for-guests {
    background: whitesmoke;
    color: white;
    /* border: solid;
    border-width: 1px;
    border-color: white; */
}

.caption-for-guests {
text-align: center;
font-size: 25px;
padding: 20px;
font-weight: 600;
margin: 0;
color: darkolivegreen;
}

.guest-page-header {
    background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.6)), url('https://popolr.com/Assets/Images/landing/how.jpg');
    color: white;
    background-size: cover;
}

.guest-page-header h1 {
    padding: 140px 0px 5px 400px;
    margin: 0;
    width: 34%;
    position: static;
}

.guest-page-header p {
    margin-left: 400px;
    margin-bottom: 50px;
    text-shadow: 2px 2px black;
}

.guest-page-header p span {
    font-weight: bold;
}

.guest-page-header .login-and-register {
    padding: 0px 0px 100px 400px;
    position: static;
}

.guest-page-header .login-and-register a {
    margin-right: 30px;
}


.options-for-login-or-register p {
    margin: 0;
    text-align: center;
    padding-bottom: 40px;
    color: darkolivegreen;
}

/* registration */

.register-form {
    background: rgb(250, 246, 246);
    color: darkolivegreen;
    margin: 0;
}

.register-form fieldset {
    text-align: center;
    padding: 100px 0px 100px;
    margin-top: 5px;
    border: none;
}

.register-form input {
    margin-top: 5px;
}






/* login */
.login-form {
    background: rgb(250, 246, 246);
    color:darkolivegreen;
    margin: 0;
}

.login-form fieldset {
    margin-top: 5px;
    text-align: center;
    padding: 150px 0px 200px;
    border: none;
}



/* home-page-for-logged-in-users */

.home-page-for-logged-in-users .header p {
    padding-bottom: 80px;
    margin-bottom: 50px;
}

.for-sharing-button {
    text-align: center;
    padding-bottom: 50px;
    padding-top: 5px;
}

.caption-for-logged-in {
    text-align: center;
    font-size: 25px;
    padding-bottom: 20px;
    font-weight: 600;
    margin: 0;
    color: darkolivegreen;
}



/* recipe-info-page */

.recipe-info-page .header p {
    padding-bottom: 100px;
    margin-bottom: 15px;
}

.likes {
    text-align: center;
    margin-top: 30px
}

.recipe-main-info .brief-info ul {
    text-align: center;
}

.recipe-main-info .brief-info ul li {
    color: darkolivegreen;
    display: inline-block;
    padding-right: 10px;
    padding-left: 10px;
    border-left: solid;
}

.recipe-main-info .brief-info ul li:first-child {
    border-left: none;
}

.recipe-main-info .main-info p {
    text-align: justify;
    padding-left: 100px;
    padding-right: 70px;
    padding-top: 30px;
}

.recipe-info-page .likes {
    text-align: center;
}


/* not found */

.not-found {
    padding-top: 200px;
    text-align: center;
}

.not-found h1 {
    font-size: 100px;
}

.not-found h2 {
    padding-top: 50px;
    font-size: 50px;
}
.not-found p {
    padding-top: 50px;
    padding-bottom: 100px;
}


/* profile */

.profile-page {
    text-align: center;
}

.profile-template {
    display: inline-block;
    padding-top: 90px;
    width: 300px;
}

.profile-template h3 {
    border-top: solid;
    font-size: 15px;
    padding-top: 5px;
    border-width: 2px;
}

.profile-template h3 span {
    font-size: 20px;
}

.profile-template h4 {
    border-top: solid;
    padding: 10px;
    border-bottom: solid;
    border-width: 2px;
    font-size: 13px;
}

.profile-template h4 span {
    font-size: 18px;
}


.profile-template img {
    width: 280px;
}

.profile-recipes h3 {
    padding-top: 30px;
    padding-bottom: 15px;
}


/* searching tool */

.searching-tool .header p {
    padding-bottom: 80px;
    margin-bottom: 20px;
}

.searching-tool h3 {
    text-align: center;
}

.searching-tool .no-results {
    padding-top: 80px;
    padding-bottom: 130px;
}


/* about */

.about .header p {
    padding-bottom: 80px;
    margin-bottom: 30px
}

.about h4 {
    padding-top: 80px;
    padding-left: 40px;
    padding-bottom: 130px;
}


/* new recipe */

.not-found {
    padding-top: 200px;
    text-align: center;
}

.not-found h1 {
    font-size: 100px;
}

.not-found h2 {
    padding-top: 50px;
    font-size: 50px;
}
.not-found p {
    padding-top: 50px;
    padding-bottom: 100px;
}


/* profile */

.profile-page {
    text-align: center;
}

.profile-template {
    display: inline-block;
    padding-top: 90px;
    width: 300px;
}

.profile-template h3 {
    border-top: solid;
    font-size: 15px;
    padding-top: 5px;
    border-width: 2px;
}

.profile-template h3 span {
    font-size: 20px;
}

.profile-template h4 {
    border-top: solid;
    padding: 10px;
    border-bottom: solid;
    border-width: 2px;
    font-size: 13px;
}

.profile-template h4 span {
    font-size: 18px;
}


.profile-template img {
    width: 280px;
}

.profile-recipes h3 {
    padding-top: 30px;
    padding-bottom: 15px;
}


/* new recipe */
.new-recipe {
    padding-top: 60px;
    text-align: center;
}

.new-recipe fieldset {
    border: none;
}

.new-recipe p {
    margin: 0;
    font-size: 13px;
    padding-bottom: 5px;
    color: darkred;
}

.new-recipe select {
    width: 200px;
    border: 2px solid #97A92B;
    border-radius: 5px;
    height: 23px;
    color: black;
}

.new-recipe select::selection {
    text-align: center;
}

.new-recipe button {
    margin-top: 15px;
}

.new-recipe label {
    padding-bottom: 5px;
    padding-top: 5px;
    color: darkolivegreen;
}

.new-recipe label:nth-child(3) {
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.new-recipe label:nth-child(12) {
    padding-top: 10px;
}

.new-recipe textarea {
    height: 230px;
}

/* footer */

footer {
    background: #97A92B;
    padding: 35px 30px;
}

footer p {
    margin: 10px;
    text-align: center;
    color: white
}

footer a {
    color: brown;
    font-weight: 600;
}

footer a:hover {
    color: darkblue;
    text-decoration: none;
}