.recipe-info {
    display: inline-block;
    background: white;
    box-shadow: 0 0 4px;
    padding: 20px;
    padding-right: 12px;
    padding-top: 9px;
    padding-left: 9px;
    color: black;
    border: solid;
    border-color: white;
    border-width: 2px;
    width: 900px;
    height: auto;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 40px;
}

.recipe-info p {
    text-align: left;
    margin-bottom: 5px;
    margin-top: 5px;
    font-size: 17px;
}

.recipe-info p span{
    font-weight: 600;
}

.recipe-info:hover {
    color: black;
    background: #97A92B;
    border-color: gray;
    cursor: pointer;
}

.recipe-info img {
    width: 200px;
    height: 150px;
    border: solid;
    border-width: 1px;
    border-color: black;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 4px;
    float: right;
}

.information-about-item {
    width: 350px;
}