.login-form-caption {
    color: #97A92B;
    text-align: center;
    margin-top: 0px;
    padding-top: 130px;
}

.login-form {
    background: rgb(250, 246, 246);
    color: #97A92B;
    margin: 0;
}

.login-form fieldset {
    background: rgb(250, 246, 246);
    margin-top: 0px;
    text-align: center;
    padding: 10px 0px 90px;
    border: none;
}

.login-form input {
    margin-top: 5px;
}

.loader {
    color: #97A92B;
    text-align: center;
}

.login-form a {
    color: brown;
    font-weight: bold;
}

.login-form a:hover {
    color: darkblue;
    cursor: pointer;
}

.p-for-register {
    margin-top: 80px;
}