<h2 class="login-form-caption">Взлез в профила си</h2>
<form #f="ngForm" class="login" (ngSubmit)="submitFormHandler(f.value)" class="login-form">
    <fieldset>
        <p>
            <label for="name">Потребителско име:</label>
            <input #username="ngModel" type="text" [class.input-error]="username.touched && !!username.errors "
                name="username" placeholder="Потребителско име..." ngModel required ngModel appSubmitOnValid
                (ngModelChangeIfValid)="changeHandler($event)" required appUsernameValidator>
        </p>

        <p *ngIf="username.touched && username.errors?.required" class="error">
            Попълването на поле "Потребителско име" е задължително!
        </p>
        <p *ngIf="username.touched && username.errors?.usernameValidator" class="error">
            Потребителското име трябва да съдържа само латински букви и цифри!
        </p>

        <p>
            <label for="passowrd">Парола:</label>
            <input #password="ngModel" [class.input-error]="password.touched && !!password.errors" type="password"
                name="password" id="password" placeholder="******" ngModel required minlength="4">
        </p>
        <p *ngIf="password.touched && password.errors?.required" class="error">
            Полето "Парола" е задължително!
        </p>
        <p *ngIf="errorMessage" class="error">
            Потребителското име или паролата са грешни!
        </p>

        <button [disabled]="isLoading || f.invalid">Login</button>

        <p class="p-for-register">Ако все още не си го направил, се <a routerLink="/user/register">регистрирай</a>!</p>
        <app-loader [isLoading]="isLoading"></app-loader>
    </fieldset>
</form>