<form #f="ngForm" class="login" (ngSubmit)="submitFormHandler(f.value)" class="login-form">
    <fieldset>
        <p>
            <label for="name">Потребителско име:</label>
            <input #username="ngModel" type="text" name="username" placeholder="Потребителско име..." ngModel required>
        </p>
        <p>
            <label for="passowrd">Парола:</label>
            <input #password="ngModel" type="text" name="password" placeholder="******" ngModel required>
        </p>
        <button>Вход!</button>
    </fieldset>
</form>