
        <form action="#" class="login-form">
            <fieldset>
                <p>
                    <label for="name">Потребителско име:</label>
                    <input type="text" name="username" placeholder="Потребителско име...">
                </p>
                <p>
                    <label for="passowrd">Парола:</label>
                    <input type="text" name="password" placeholder="******">
                </p>
                <button>Вход!</button>
            </fieldset>
        </form>