@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pattaya&display=swap');
body {
    font-family: 'PT Sans', sans-serif;
    margin: 0;
    padding: 0;
    font-size: 18px;
    background-color: rgb(218, 218, 218);
}

.container-for-base-content {
    position: relative;
    margin: 5px auto;
    width: 85%;
    box-shadow: 0 0 7px black;
    padding: 0px 0;
    background-color: white;
}

@media screen and (max-width: 1200px) {
    .container-for-base-content {
        width: 100%;
        margin: 0;
    }
}

h1 {
    line-height: 36px;
    font-weight: 500px;
}

label {
    display: block;
}

input {
    width: 250px;
    color: black;
  
}

input[type=text] {
    border: 2px solid #97A92B;
    border-radius: 5px;
    height: 23px;
    box-sizing: border-box;
    padding-top: 11px;
    padding-bottom: 12px;
    padding-left: 5px;
}


input[type=password] {
    border: 2px solid #97A92B;
    border-radius: 5px;
    height: 23px;
    box-sizing: border-box;
    padding-top: 11px;
    padding-bottom: 12px;
    padding-left: 5px;
}

input[type=number] {
    border: 2px solid #97A92B;
    border-radius: 5px;
    height: 23px;
    box-sizing: border-box;
    padding-top: 11px;
    padding-bottom: 12px;
    padding-left: 5px;
}

input:focus {
    outline: none;
    border-color: #9ecaed;
    box-shadow: 0 0 10px #9ecaed;
    color: black;
}

input.input-error {
    outline: none;
    border-color: red;
    box-shadow: 0 0 10px red;
    color: black;
}


p.error {
    border-radius: 0.3em;
    color: red;
    padding-top: 0;
  }
.button, button {
    border: solid;
    border-width: 1px;
    padding: 5px 30px;
    color: darkolivegreen;
    border-radius: 15%;
    background: transparent;
}

a {
    text-decoration: none;
}

.button:hover{
    background-color: #97A92B;
    color: black;
    text-decoration: none;
    cursor: pointer;
}

button:hover{
    background-color: #97A92B;
    color: black;
    text-decoration: none;
    cursor: pointer;
}

button[disabled]:hover {
    border: solid;
    border-width: 1px;
    padding: 5px 30px;
    color: darkolivegreen;
    border-radius: 15%;
    background: transparent;
    cursor: unset;
}



.header {
    background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.6)), url('https://popolr.com/Assets/Images/landing/how.jpg');
    color: white;
    background-size: cover;
}

.header h1 {
    padding: 140px 0px 0px 400px;
    margin: 0;
    width: 80%;
    position: static;
}

.header p {
    padding-top: 0px;
    margin-top: 0px;
    margin-left: 400px;
    margin-bottom: 50px;
    text-shadow: 2px 2px black;
}

.header p span {
    font-weight: bold;
}

.header .buttons {
    padding: 0px 0px 100px 400px;
    position: static;
}

.header .buttons .button {
    margin-right: 30px;
    color: white;
}

.header .buttons .button:hover {
    color: black;
}