.search-result .header p {
    padding-bottom: 80px;
    margin-bottom: 20px;
}

.search-result h3 {
    text-align: center;
}

.search-result .no-results {
    padding-top: 80px;
    padding-bottom: 130px;
}

.search-result-container {
    text-align: center;
}