.slider {
    font-family: 'Gabriela', 'Palatino', serif;
    text-shadow: 1px 1px 0 #000,
    -1px 1px 0 #000,
    1px -1px 0 #000,
    -1px -1px 0 #000,
    0px 1px 0 #000,
    0px -1px 0 #000,
    -1px 0px 0 #000,
    1px 0px 0 #000,
    1px 1px 0 #000,
    -1px 1px 0 #000,
    1px -1px 0 #000,
    -1px -1px 0 #000,
    0px 1px 0 #000,
    0px -1px 0 #000,
    -1px 0px 0 #000,
    1px 0px 0 #000,
    1px 1px 0 #000,
    -1px 1px 0 #000,
    1px -1px 0 #000,
    -1px -1px 0 #000,
    1px 1px 0 #000,
    -1px 1px 0 #000,
    1px -1px 0 #000,
    -1px -1px 0 #000;
    background-color: black;
    border-radius: 5px;
    transition: all .3s ease;
}


.slider-image {
    opacity: 0.5;
    border-radius: 5px;
}

.slider:hover {
    cursor: pointer;
    transform: scale(1.005);
}


.carousel-caption {
    z-index: 2;
}

.carousel-caption:focus {
    outline: none;
}

.home-page-for-guests {
    background: whitesmoke;
    color: white;
    /* border: solid;
    border-width: 1px;
    border-color: white; */
}

.go-to-category:hover {
    cursor: pointer !important;
}

.caption-for-guests {
text-align: left;
font-size: 18px;
padding: 20px 20px;
font-weight: 600;
margin: 0;
color: darkolivegreen;
}

.guest-page-header {
    background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.6)), url('https://popolr.com/Assets/Images/landing/how.jpg');
    color: white;
    background-size: cover;
}

.guest-page-header h1 {
    padding: 140px 0px 5px 400px;
    margin: 0;
    width: 34%;
    position: static;
}

.guest-page-header p {
    margin-left: 400px;
    margin-bottom: 50px;
    text-shadow: 2px 2px black;
}

.guest-page-header p span {
    font-weight: bold;
}

.guest-page-header .login-and-register {
    padding: 0px 0px 100px 400px;
    position: static;
}

.guest-page-header .login-and-register a {
    margin-right: 30px;
}


.options-for-login-or-register p {
    margin: 0;
    text-align: center;
    padding-bottom: 40px;
    color: darkolivegreen;
}

.options-for-login-or-register a {
    color: brown;
    font-weight: bold;
}

.options-for-login-or-register a:hover {
    color: darkblue;
}

.recipe-list {
    text-align: center;
}

.for-logged-in {
    padding-bottom: 80px;
    margin-bottom: 50px;
}

.for-sharing-button {
    text-align: center;
    padding-bottom: 20px;
    padding-top: 5px;
}

.caption-for-logged-in {
    text-align: center;
    font-size: 25px;
    padding-bottom: 5px;
    font-weight: 600;
    margin-top: 20px;
    color: darkolivegreen;
}

.category-name {
    text-shadow: 0px 0px 5px black;
    letter-spacing: 0.1px;
    word-spacing: 1px;
    
}

.site-name {
    text-shadow: 0px 0px 5px black;
}

.site-name span {
    font-weight: bold;
}

.body-content-container {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: white;
  }
  
  .content-container {
  padding: 0 16px;
  padding-bottom: 8px;
  }
  
  
  .recipe-pictures-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 16px 1fr 16px 1fr 16px 1fr 16px 1fr 16px 1fr 16px 1fr 16px 1fr 16px 1fr 16px 1fr 16px 1fr 16px 1fr;
    grid-template-columns: repeat(12, 1fr);
    grid-auto-rows: 350px;
    grid-gap: 16px;
    margin: 20px 0 8px 0;
  }

  .recipe-picture__title {
    font-size: 24px;
    line-height: 32px;
    font-weight: 400;
  }
  
  .recipe-picture__likes {
    font-size: 16px;
    line-height: 18px;
    font-weight: 700;
    margin: 10px 0 0 0;
  }
  
  .recipe-picture {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    padding: 20px;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease
  }
  
  .recipe-picture:hover {
    cursor: pointer;
    -webkit-box-shadow: 0 30px 18px -8px rgba(0, 0, 0, 0.1);
            box-shadow: 0 30px 18px -8px rgba(0, 0, 0, 0.1);
    -webkit-transform: scale(1.02);
        -ms-transform: scale(1.02);
            transform: scale(1.02);
  }
  
  .recipe-picture:nth-child(1),:nth-child(6),:nth-child(7) {
    -ms-grid-column: span 6;
        grid-column-start: span 6;
  }
  
  .recipe-picture:nth-child(2),:nth-child(3),:nth-child(4),:nth-child(5),:nth-child(8),:nth-child(9) {
    -ms-grid-column: span 3;
        grid-column-start: span 3;
  }
  
  @media screen and (max-width: 1200px) {
    .recipe-picture:nth-child(n) {
        -ms-grid-column: span 6;
            grid-column-start: span 6;
    }
  }
  
  @media screen and (max-width: 800px) {
    .recipe-picture:nth-child(n) {
        -ms-grid-column: span 12;
            grid-column-start: span 12;
    }
  }