.home-page-for-guests {
    background: whitesmoke;
    color: white;
    /* border: solid;
    border-width: 1px;
    border-color: white; */
}

.go-to-category:hover {
    cursor: pointer !important;
}

.caption-for-guests {
text-align: left;
font-size: 18px;
padding: 20px 100px;
font-weight: 600;
margin: 0;
color: darkolivegreen;
}

.guest-page-header {
    background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.6)), url('https://popolr.com/Assets/Images/landing/how.jpg');
    color: white;
    background-size: cover;
}

.guest-page-header h1 {
    padding: 140px 0px 5px 400px;
    margin: 0;
    width: 34%;
    position: static;
}

.guest-page-header p {
    margin-left: 400px;
    margin-bottom: 50px;
    text-shadow: 2px 2px black;
}

.guest-page-header p span {
    font-weight: bold;
}

.guest-page-header .login-and-register {
    padding: 0px 0px 100px 400px;
    position: static;
}

.guest-page-header .login-and-register a {
    margin-right: 30px;
}


.options-for-login-or-register p {
    margin: 0;
    text-align: center;
    padding-bottom: 40px;
    color: darkolivegreen;
}

.options-for-login-or-register a {
    color: brown;
    font-weight: bold;
}

.options-for-login-or-register a:hover {
    color: darkblue;
}

.recipe-list {
    text-align: center;
}

.for-logged-in {
    padding-bottom: 80px;
    margin-bottom: 50px;
}

.for-sharing-button {
    text-align: center;
    padding-bottom: 20px;
    padding-top: 5px;
}

.caption-for-logged-in {
    text-align: center;
    font-size: 25px;
    padding-bottom: 5px;
    font-weight: 600;
    margin-top: 20px;
    color: darkolivegreen;
}

.category-name {
    text-shadow: 0px 0px 5px black;
    letter-spacing: 0.1px;
    word-spacing: 1px;
    
}

.site-name {
    text-shadow: 0px 0px 5px black;
}

.site-name span {
    font-weight: bold;
}