<div class="home-page-for-guests">
    <ngb-carousel class="slider" *ngIf="images">
        <ng-template ngbSlide *ngFor="let img of images" overlayColor="#00009050">
            <div class="picsum-img-wrapper">
                <img [src]="img.image" routerLink="/about" alt="Random first slide" width="100%" height="300px"
                    style="object-fit: cover;" class="slider-image">
            </div>
            <div class="carousel-caption" routerLink="/about">
                <h3>{{img.name}}</h3>
                <p class="historical-picture__category">{{img.category}}</p>
            </div>
        </ng-template>
    </ngb-carousel>
        <div *ngIf="isLogged">
            <p class="caption-for-logged-in">Добре дошъл в своя профил, {{currentUser.username}}!</p>
            <div class="for-sharing-button"><a routerLink="/recipe/new" class="button">Сподели рецепта</a></div>
        </div>
        <div>
            <div class="recipe-list">
                <p class="caption-for-guests">Петте най-харесвани рецепти</p>
                <app-loader style="text-align: center;" [isLoading]="isLoading"></app-loader>
                <app-recipe-item *ngFor="let recipe of topFiveRecipes" [recipe]="recipe"></app-recipe-item>
            </div>
            <div class="options-for-login-or-register" *ngIf="!isLogged">
                <p>За повече възможности в сайта <a routerLink="/user/login">влез</a> в профила си или ако
                    все още нямаш такъв се <a routerLink="/user/register">регистрай</a>!</p>
            </div>
        </div>
    </div>
  
