/* new recipe */
.new-recipe {
    padding-top: 60px;
    text-align: center;
    padding-bottom: 40px;
}

.new-recipe input {
    width: 300px;
}

.new-recipe h2 {
    color: darkolivegreen;
}


.new-recipe fieldset {
    border: none;
}

.new-recipe .comas-for-ingredients {
    margin: 0;
    font-size: 13px;
    padding-bottom: 5px;
    color: darkred;
}

select.input-error {
    outline: none;
    border: 2px solid  red;
    box-shadow: 0 0 10px red;
    color: black;
    border-radius: 5px;
    height: 27px;
    width: 300px;
}

.new-recipe .select {
    width: 300px;
    border: 2px solid #97A92B;
    border-radius: 5px;
    height: 30px;
    color: black;
    margin-top: 0px;
    padding-top: 0px;
}

.new-recipe .select::selection {
    text-align: center;
}

.new-recipe button {
    margin-top: 15px;
}

.new-recipe label {
    padding-bottom: 5px;
    padding-top: 5px;
    color: darkolivegreen;
}

.new-recipe label:nth-child(3) {
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.new-recipe label:nth-child(12) {
    padding-top: 10px;
}

.new-recipe textarea {
    height: 230px;
    border: solid 2px #97A92B;
    padding: 5px;
}

.new-recipe textarea.input-error {
    border: solid 2px red;
    box-shadow: 0 0 10px red;
}
