.not-found {
    padding-top: 200px;
    text-align: center;
}

.not-found h1 {
    font-size: 100px;
}

.not-found h2 {
    padding-top: 50px;
    font-size: 50px;
}
.not-found p {
    padding-top: 50px;
    padding-bottom: 100px;
}


/* profile */

.profile-page {
    text-align: center;
}

.profile-template {
    display: inline-block;
    padding-top: 90px;
    width: 300px;
}

.profile-template h3 {
    border-top: solid;
    font-size: 15px;
    padding-top: 5px;
    border-width: 2px;
}

.profile-template h3 span {
    font-size: 20px;
}

.profile-template h4 {
    border-top: solid;
    padding: 10px;
    border-bottom: solid;
    border-width: 2px;
    font-size: 13px;
}

.profile-template h4 span {
    font-size: 18px;
}


.profile-template img {
    width: 280px;
}

.profile-recipes h3 {
    padding-top: 30px;
    padding-bottom: 15px;
}


/* new recipe */
.new-recipe {
    padding-top: 60px;
    text-align: center;
}

.new-recipe fieldset {
    border: none;
}

.new-recipe p {
    margin: 0;
    font-size: 13px;
    padding-bottom: 5px;
    color: darkred;
}

.new-recipe select {
    width: 200px;
    border: 2px solid #97A92B;
    border-radius: 5px;
    height: 23px;
    color: black;
}

.new-recipe select::selection {
    text-align: center;
}

.new-recipe button {
    margin-top: 15px;
}

.new-recipe label {
    padding-bottom: 5px;
    padding-top: 5px;
    color: darkolivegreen;
}

.new-recipe label:nth-child(3) {
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.new-recipe label:nth-child(12) {
    padding-top: 10px;
}

.new-recipe textarea {
    height: 230px;
}