<div class="new-recipe">
    <h2>Сподели нова рецепта</h2>
    <form [formGroup]="form" (ngSubmit)="submitHandler()">
        <fieldset>
            <!-- recipe name -->
            <label for="recipeName">Име на ястието:</label>
            <input [class.input-error]="form.get('recipeName').touched && !!form.get('recipeName').errors" type="text"
                name="recipeName" placeholder="Име на ястието..." formControlName="recipeName">

            <p *ngIf="form.get('recipeName').touched && form.get('recipeName').errors?.required" class="error">
                Попълването на поле "Име на ястието" е задължително!
            </p>


            <!-- ingredients -->
            <label for="ingredients">Нужни съставки:</label>
            <p class="comas-for-ingredients">Изреди със запетая*</p>
            <input [class.input-error]="form.get('ingredients').touched && !!form.get('ingredients').errors" type="text"
                name="ingredients" placeholder="Изброй подправките със запетая..." formControlName="ingredients">
            <p *ngIf="form.get('ingredients').touched && form.get('ingredients').errors?.required" class="error">
                Попълването на поле "Нужни съставки" е задължително!
            </p>

            <!-- quantity -->
            <label for="quantity">Порции:</label>
            <input [class.input-error]="form.get('quantity').touched && !!form.get('quantity').errors" type="number"
                name="quantity" placeholder="Порции..." formControlName="quantity">

            <p *ngIf="form.get('quantity').touched && form.get('quantity').errors?.required" class="error">
                Попълването на поле "Порции" е задължително!
            </p>

            <!-- category -->
            <label for="category">Категория:</label>
            <select [class.select]="!form.get('category').touched || !!!form.get('category').errors"
             [class.input-error]="form.get('category').touched && !!form.get('category').errors" name="category" formControlName="category">
                <option value="Предястия">Предястия</option>
                <option value="Основни">Основни</option>
                <option value="Супи и чорби">Супи и чорби</option>
                <option value="Скара">Скара</option>
                <option value="Десерти">Десерти</option>
                <option value="Тестени изделия">Тестени изделия</option>
                <option value="Салати">Салати</option>
            </select>

            <p *ngIf="form.get('category').touched && form.get('category').errors?.required" class="error">
                Попълването на поле "Категория" е задължително!
            </p>


            <!-- difficultyLevel -->
            <label for="difficultyLevel">Трудност на приготвяне:</label>
            <select [class.select]="!form.get('difficultyLevel').touched || !!!form.get('difficultyLevel').errors"
            [class.input-error]="form.get('difficultyLevel').touched && !!form.get('difficultyLevel').errors"
                name="difficultyLevel" formControlName="difficultyLevel">
                <option value="Лесно за приготвяне">Лесно за приготвяне</option>
                <option value="Средно по трудност">Средно по трудност</option>
                <option value="Трудно за приготвяне">Трудно за приготвяне</option>
            </select>

            <p *ngIf="form.get('difficultyLevel').touched && form.get('difficultyLevel').errors?.required"
                class="error">
                Попълването на поле "Трудност на приготвяне" е задължително!
            </p>

            <!-- necessery time -->
            <label for="necesseryTime">Необходимо време за приготвяне:</label>
            <select [class.select]="!form.get('necesseryTime').touched || !!!form.get('necesseryTime').errors"
             [class.input-error]="form.get('necesseryTime').touched && !!form.get('necesseryTime').errors"
                name="necesseryTime" formControlName="necesseryTime">
                <option value="15 мин.">15 мин.</option>
                <option value="30 мин.">30 мин.</option>
                <option value="45 мин.">45 мин.</option>
                <option value="1 час">1 час</option>
            </select>

            <p *ngIf="form.get('necesseryTime').touched && form.get('necesseryTime').errors?.required" class="error">
                Попълването на поле "Необходимо време за приготвяне" е задължително!
            </p>

            <!-- imageUrl -->
            <label for="img">Линк за изображение на ястието:</label>
            <input [class.input-error]="form.get('imageUrl').touched && !!form.get('imageUrl').errors" type="text"
                name="imageUrl" formControlName="imageUrl">

            <p *ngIf="form.get('imageUrl').touched && form.get('imageUrl').errors?.required" class="error">
                Попълването на поле "Линк за изображение на ястието" е задължително!
            </p>

            <p *ngIf="form.get('imageUrl').touched && form.get('imageUrl').errors?.linkValidator" class="error">
                Твоят линк трябва а съдържа "http" или "https"!
            </p>


            <!-- recipecontent -->
            <label for="recipeContent">Начин на приготвяне:</label>
            <textarea [class.input-error]="form.get('recipeContent').touched && !!form.get('recipeContent').errors"
                name="recipeContent" rows="4" cols="50" placeholder="Напиши своята рецепта тук..." formControlName="recipeContent"></textarea>

            <p *ngIf="form.get('recipeContent').touched && form.get('recipeContent').errors?.required" class="error">
                Попълването на поле "Начин на приготвяне" е задължително!
            </p>

            <br>
            <button [disabled]="form.invalid">Публикувай!</button>
        </fieldset>
    </form>
</div>